.prenav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding:4px;
    padding:13px;
}
a{
    text-decoration: none !important;
    color:rgb(180, 180, 180) !important;
    font-size: 0.8vmax;
}
a:hover{
    color:white !important
}
